<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Developer Nidhi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
<li class="nav-item active">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
<li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
<li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
          </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="container text-center px-0 mw-100 mt-0 ">
    <div class="card bg-dark text-white">
        <img src="https://source.unsplash.com/WLUHO9A_xik/1600x400" class="card-img " alt="...">
        <div class="card-img-overlay">
            <h2>INNOVATIVE, UNIQUE, WORLDWIDE TRAVEL EXPERTS</h2>
            <h5 class="card-title">WELCOME TO THE WORLD OF THE INDEPENDENT TRAVELLER</h5>
            <p class="card-text">Need a little inspiration for your next vacation,
                either real or imagined?We helps you discover new destinations,
                organise your trips and share your travel experiences.</p>
            <p class="card-text"></p>
        </div>
        <!--        <div class="container mw-0"></div>-->
    <!--        <footer class="py-3 mw-100 px-0" >-->
    <!--            <P class="text-center bg-dark text-light mw-100 mt-0">-->
    <!--                Copyright | All rights reserved-->
    <!--            </P>-->
    <div class="container mw-100 bg-dark my-3 position-absolute fixed-bottom">
        <div id="footer" class="container-fluid">
            <div class="row">
                <footer class="page-footer font-small special-color-dark pt-0 mw-100 text-white text-center px-0" style="width:100%">
<!--                    <ul class="list-unstyled list-inline text-center text-white bg-light">-->
<!--                        <li class="list-inline-item bg-light">-->
<!--                            <a class="btn-floating btn-lg btn-fb" type="button" role="button">-->
<!--                                <i class="fab fa-facebook-f"> </i>-->
<!--                            </a><span>-->
<!--                            Facebook-->
<!--                        </span></li>-->
<!--&lt;!&ndash;                        <li class="list-inline-item bg-light">&ndash;&gt;-->
<!--                            <a class="btn-floating btn-tw btn-lg" type="button" role="button">-->
<!--                                <i class="fab fa-twitter"> </i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="list-inline-item bg-dark">-->
<!--                            <a class="btn-floating btn-lg  mx-1">-->
<!--                                <i class="fab fa-google-plus-g"> </i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="list-inline-item bg-white">-->
<!--                            <a class="btn-floating btn-li btn-lg" type="button" role="button">-->
<!--                                <i class="fab fa-linkedin-in"> </i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <div class="footer-copyright text-center py-3 text-white"> &copy; 2020 Copyright | All right reserved
                        <a href="https://developernidhi.com/"> DeveloperNidhi.com</a>
                    </div>
                    </footer>
            </div>
            <!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>